* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
    background: rgb(71, 69, 69);
    font-family:arial;
    display: flex;
    flex-direction: column;
}

/* MAIN FIXAR*/

main {
    flex: 1;
    width: 100%;
}

h1 {
    color: rgb(68, 10, 15);
    font-size: 40px;
    text-align: center;
}

h2 {
    color: white
}

p {
    margin-right: auto;
    margin-left: auto;
    color: white;
    font-size: 16px;
    line-height: 1.6;
    color: #ddd;
    text-align: justify;
}

img {
    height: 400px;
}

/* CONFIG LOJA */

.botao {
    background:rgb(180, 146, 146);
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    display: inline-block;
}

.botao:hover {
    background: rgb(136, 53, 60);
}

/* LISTA */

dt {
    color: rgb(255, 255, 255);
    font-size: 16px;
}

#sobre h3 {
    color: rgb(70, 36, 36);
    font-size: 25px;
}

/* CABEÇALHO */

nav {
    padding: 15px;
    position: flex;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.navbar {
    background-color: rgb(26, 26, 29);
}

.navbar-brand img{
    height: 50px;
    width: auto;
}

nav ul li {
    margin: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    color:  rgb(136, 53, 60);
}

/* BANNER */

#inicio {
    background: 
    linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url('./IMAGENS/banner.jpg') center/cover no-repeat;
    color: white;
    text-align: center;
    min-height: 40vh;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#inicio h3 {
    opacity: 0;
  font-size: 40px;
  animation: fadeUp 1s ease forwards;
}

#inicio p {
    opacity: 0;
  font-size: 22px;
  animation: fadeUp 1s ease forwards;
  animation-delay: 0.3s;
  
}

#artistas h4 {
    color: rgb(68, 10, 15);
    font-size: 28px;
}

#artistas p {
    font-size: 16px;
  line-height: 1.6;
  color: #ddd;
  text-align: justify;
}

#contato h3 {
    color: rgb(68, 10, 15);
    font-size: 25px;
}

/* BOTOES DE CONTATO */

section {
    padding: 40px 20px;
    text-align: center;
}

form {
    display: flex;
    color: rgb(68, 10, 15);
    flex-direction: column;
    max-width: 400px;
    margin: auto;
}

form label {
   text-align: left;
   margin-top: 10px;
   font-weight: bold;
}

form input, form textarea {
   padding: 10px;
   border: 1px solid #ccc;
   border-radius: 5px;
}

form button {
    background: rgb(156, 110, 110);
    color: white;
    padding: 10px;
    cursor: pointer;
}

form button:hover {
    background:  rgb(136, 53, 60);
}

/* RODAPÉ */

footer {
    background-color: rgb(26, 26, 29);
    color: white;
    text-align: center;
    padding: 18px;
    text-decoration: none;
}

footer p {
    text-align: center;
}

.redes {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    gap: 30px;
}

.redes a {
    color: white;
    text-decoration: none;
    font-size: 22px;
}

.redes a:hover {
    color:  rgb(136, 53, 60);
}

/* FUNDO DE IMAGEM */

.fundoimg {
    position: relative;
    display: inline-block;
}

.fundoimg::before {
     content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(100, 36, 36, 0.4);
  filter: blur(60px);
  border-radius: 50%;
  top: 0;
  left: 0;
  z-index: -1;
}

/* VIDEO */

#video video {
  width: 100%;
  max-width: 900px;
  height: auto;
  display: block;
  margin: 0 auto;
}
#video h1 {
    color: rgb(68, 10, 15);
}

/* TABELA */

table {
    border-collapse: collapse;
    width: 55%;
    margin: 0 auto;
}

th,td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;;
}

caption {
    caption-side: top;
    text-align: center;
    font-size: 25px;
    margin-bottom: 7px;
    color: rgb(70, 36, 36);
}

/* SCROLL */

.reveal{
    opacity: 0;
    transform: translateY(80px);
    transition: all 0.8s ease;
}

.reveal.active{
    opacity: 1;
    transform: translateY(0);
}